.article {
    margin: 4em 0 0;
    font-size: 1.4em;
}


.title {
    font-size: 1.8em;

}

.text {
    margin-top: 1em;
    margin-bottom: 2em;
}

.image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-top: 0.75em;
}

@media (min-width: 600px) {
    .article {
        margin: 4em 0 2em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
        grid-template-areas: 
            "tt tt . ."
            "tx tx im im"
            "tx tx im im"
            "tx tx . .";
    }
    
    .title {
        font-size: 1.8em;
        grid-area: tt;
        text-align: center;
    }

    .image {
        grid-area: im;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .text {
        grid-area: tx;
        padding: 0 1em;
    }
    
}