.contact {
    padding: 0;
}

.text {
    font-size: 1.5em;
    font-weight: 700;
    padding: 1em 1em 2em;
    color: var(--color-primary);
    text-align: center;
}

.workHoursContainer,
.contactFormContainer {
    display: flex;
    flex-direction: column;
}

.workHoursContainer {
    position: relative;
    justify-content: center;
}

.workHours {
    position: absolute;
    top: 8%;
    left: 5%;
    padding: 0.5em;
    color: var(--color-primary);
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
}

.workHoursContainer .image {
    object-position: 5em;
}

.subtitle {
    font-size: 1.2em;
    margin: 0.8em;
    color: var(--color-primary);
}



/* ******************FORM************************ */
.contactFormContainer {
    justify-content: space-between;
}

.contactFormContainer .imageContainer {
    position: relative;
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.contactFormContainer .subtitle {
    text-align: center;
    padding: 2em 0;
    font-size: 1.8em;
}


.list {
    font-size: 0.8em;
    list-style: none;
}

.listItem {
    padding-bottom: 0.75em;
    text-transform: capitalize;
}

.image {
    width: 100%;
    margin: 0 0 -0.40em 0;
    padding: 0;
    object-fit: cover;
    object-position: top;
}


.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 2em 6em;
}

.form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.input,
.formButton {
    border-radius: 6px;
    width: 100%;
    margin: 0 auto;
}

.input {
    padding: 0.75em .5em;
    font-weight: 400;
    background-color: var(--color-secondary);
    border: 2px solid var(--color-primary);
    letter-spacing: 1px;
}

.textarea {
    height: 180px;
    line-height: 1.6;
}

.input::placeholder {
    color: var(--color-primary);
}

.input:focus {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-highlight-3);
    outline: 1px solid var(--color-highlight-3);
}

.input:focus::placeholder {
    color: var(--color-primary);
}

.formButton {
    border: none;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 1.5em 0;
    margin-top: 1em;
    font-weight: 700;
}

.formButton:hover {
    background-color: var(--color-highlight-3);
    color: var(--color-primary);
}

.formButton:focus {
    outline: 1px solid var(--color-highlight-3);
}


/* *************** MEDIA QUERIES ********************** */
@media (min-width: 400px) {
    .workHours {
        font-size: 1.4em;
        top: 5%;
        left: 5%;
        bottom: 5%;
    }

    .contactFormContainer .imageContainer .image {
        height: 70vh;
    }
}

@media (min-width: 700px) {

    .workHours {
        font-size: 1.6em;
        top: 10%;
        left: 10%;
    }

    .contactFormContainer .image {
        object-position: 0 -80px;
    }
}

@media (min-width: 800px) {
    .workHoursContainer {
        flex-direction: row-reverse;
    }

    .workHours {
        position: relative;
    }

    .workHoursTextContainer {
        align-self: center;
    }

    .workHoursContainer .imageContainer {
        width: 50%;
    }

    .workHoursTextContainer {
        margin-right: -6em;
    }

}