.features {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 1em;
}

.feature {
    background-color: transparent;
    line-height: 1.6;
    letter-spacing: 0.5px;
    width: 95%;
    max-width: 400px;
    margin: 1em auto;
}

.feature:first-of-type {
    margin-top: 1em;
}

.featureContainer {
    padding: 3em 0;
}


.imageTextContainer {
    padding: 0;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
}

.textContainer {
    font-size: 1.1em;
    background-color: var(--color-primary);
    background: linear-gradient(110deg, rgb(35, 132, 228) 22%, rgb(38, 166, 192) 44%, rgb(60, 96, 202) 90%);
    color: var(--color-secondary);
    width: 90%;
    margin: -2em auto 0;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: rgba(255, 255, 255, 0.75);
    padding: 1.5em 0;
    font-size: 1.4em;
    line-height: 1.4;
    letter-spacing: 1px;
}

.text {
    font-size: 1.75rem;
    color: var(--color-primary);
    padding: 2em 3em 2em;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.6;
}

.text:last-of-type {
    padding: 0 3em 2em;
}

.captionText {
    padding: 0 0 2em;
    text-align: left;
}


@media (min-width: 700px) {
    
    .feature {
        width: 100%;
        max-width: 800px;
        height: fit-content;
        margin: 0 auto;
    }

    .imageTextContainer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
    }

    .featureContainer:nth-of-type(odd) .imageTextContainer {
        flex-direction: row-reverse;
    }
    
    .textContainer {
        align-self: stretch;
        margin: 3em 0 3em -3em;
        padding: 1em 1.5em; 
    }

    .featureContainer:nth-of-type(odd) .textContainer {
        margin: 3em -3em 3em 0;
        z-index: 300;

    }

    .image {
        width: 70%;
        min-width: 550px;
        height: 100%;
    }



}