.features {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 1em;
}

.feature {
    background-color: transparent;
    line-height: 1.6;
    letter-spacing: 0.5px;
    width: 95%;
    max-width: 400px;
    margin: 1em auto;
}

.feature:first-of-type {
    margin-top: 1em;
}

.featureContainer {
    padding: 3em 0;
}

.featureContainer:nth-child(even) {
    background-color: rgba(0, 255, 255, 0.09);
}

.imageTextContainer {
    padding: 0;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    object-fit: cover;
}

.textContainer {
    font-size: 1.2em;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    width: 90%;
    margin: -3em auto 0;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: rgba(255, 255, 255, 0.75);
    padding: 1.5em 0;
    font-size: 1.7em;
    line-height: 1.4;
    letter-spacing: 2px;
}

.text {
    padding: 0 0 2em;
    text-align: justify;
}


@media (min-width: 700px) {
    
    .feature {
        width: 100%;
        max-width: 800px;
        height: fit-content;
        margin: 0 auto;
    }

    .imageTextContainer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .image {
        width: 70%;
        height: 100%;
    }

    .textContainer {
        align-self: stretch;
        margin: 3em 0 3em -5em;
        padding: 1em 3em;


    }


}