.features {
    margin: 4em auto;
}

.feature {
    width: 95%;
    max-width: 550px;
    overflow: hidden;
    margin: 0 auto 5em;
    position: relative;
}

.featureImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    filter: none;
}

.textContainer {
    font-size: 1.1em;
    color: var(--color-secondary);
    padding: 1em;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    transform: translateY(-100px);
    transition: transform 500ms ease-in;
}

.cardOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(14, 13, 13, 0.5);
    position: absolute;
    border-radius: 10px;
    z-index: 1;
    opacity: 0.4;
    transition: opacity 350ms ease-in;
}

.feature:hover > .textContainer {
    transform: translateY(-200px);
}

.feature:hover > .cardOverlay {
    opacity: 1;
    filter: blur(2px) 
}

.featureContent {
    display: none;
}


.title {
    color: rgba(255, 255, 255, 1);
    padding: 1.75em 0;
    font-size: 1.30em;
    font-weight: 700;
    position: relative;
    width: 280px;
}

.title::after {
    content:"";
    width: 80%;
    height: 5px;
    background-color: aqua;
    position: absolute;
    bottom: 25px;
    left: 0;
}

.feature:hover .title {
    padding-bottom: 1.5em;
}

.featuresText,
.cardText {
    text-align: left;
    letter-spacing: 1px;
}

.cardText {
    padding-bottom: 20px;
    font-size: 1em;
    width: 300px;
}

.featuresText {
    font-size: 1.75rem;
    color: var(--color-primary);
    padding: 1em 1.2em;
}

@media (min-width: 850px) {
    .textContainer {
        padding: 1em 2em ;
    }

    .featureContainer {
        display: flex;
        row-gap: 1em;
    }

    .featureContainer:nth-of-type(even) {
        flex-direction: row-reverse;
    }

    .featureContent {
        display: block;
        font-size: 2em;
        width: 40%;
        padding: 2.5em 0;
        color: rgb(31, 30, 30);
    }
    
    /* .featureImage {
    
    } */
    
    .feature:hover > .textContainer {
        transform: translateY(-100px);
    }
    
    .feature:hover > .cardOverlay {
        opacity: 0;
    }

    .feature:hover .title {
        padding-bottom: 1.75em;
    }
}