.hero {
  height: 60vh;
  position: relative;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
}

.heroVideo {
  height: 100%;
  object-fit: cover;
  object-position: 50% center;
  /* position: relative; */
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.heroContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--color-secondary);
  z-index: 100;
  padding: 2em 1em;
}


.heroTitle,
.heroBody,
.heroSubTitle {
  font-family: 'Manrope', sans-serif;
  width: 80%;
  max-width: 600px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.4;

}

.heroTitle {
  font-size: 2em;
  padding-top: 1.5em;
}

.heroSubTitle {
  font-size: 1.2em;
  padding-top: 0.2em;
  color: var(--color-highlight-3);
}

.heroBody {
  font-size: 1.2em;
  padding: 2em 2em 0 0;
}

.ctaBtn {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border: none;
  margin: 2em 0;
  padding: 1.2em 1.5em;
  font-size: 1.6rem;
  letter-spacing: 2px;
  border-radius: .5em;
}

@media (min-width: 640px) and (orientation: landscape) {
  .hero {
    height: 90vh;
  }

  .heroVideo {
    width: 100%;
  }

  .heroContainer {
    margin: 1em auto;
    padding: 4em;
  }
    
  .heroTitle {
    font-size: 3em;
  }
  
  .heroSubTitle {
    font-size: 1.5em;
  }

  .heroBody {
    font-size: 1.8em;
  }
  
}
