.article {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    color: var(--color-primary);
    font-size: 1.2em;
}

.serviceTitle {
    margin-bottom: 1em;
}

.imageContainer {
    width: 100%;
    height: 40vh;
    position: relative;
}

.image {
    width: 100%;
    object-fit: cover;
}

.list {
    padding: 2em;
    list-style: none;
}

.listItem {
    padding: 1em 0;
}

.subtitle {
    font-size: 1.5em;
}

.pageLinks {
   display: flex;
   justify-content: space-between; 
}

.pageLink {
    color: var(--color-highlight-3);
    font-size: 1em;
    margin: 0 1.5em 3em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.pageLink:last-of-type {
    flex-direction: column-reverse;
}

.pageLinkImage{
    width: 24px;
    height: auto;
    margin: 0 0.75em 0.5em;
}

.pageLinkText {
    display: block;
    font-size: 1em;
}

@media (min-width: 450px){
    .imageContainer {
        height: 60vh;
    }

    .pageLink {
        flex-direction: row;
    }
    
    .pageLink:last-of-type {
        flex-direction: row;
    }
    
    .pageLinkImage{
        margin-bottom: 0;
    }
    
    .pageLinkText {
        font-size: 1.2em;
    }
}