.article {
    width: 100%;
    margin: 0;
}

.image {
    width: 100%;
    height: 50vh;
    object-position: center;
    object-fit: cover;
}

.listItem:nth-child(2) .image {
    object-position: top;
}

.list {
    padding: 2em 0.5em;
    list-style: none;
}

.listItem {
    padding: 1em 0;
}

.subtitle {
    font-size: 1.5em;
}