.serviceSection {
    min-height: 110vh;
}

.titleContainer {
    height: 30rem;
    background-color: rgba(15, 15, 15, 0.5);
    background-image: url(../public/images/containers.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    margin-bottom: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageTitle {
    color: var(--color-secondary);
    font-size: 2.5em;
    text-align: center;
    text-transform: capitalize;
}

.list {
    padding: 3em 0.5em;
    list-style: none;
}

.listItem {
    padding: 1em 0;
    margin: 1em 0;
}

.article {
    width: 95%;
    min-height: 50vh;
    max-width: 600px;
    margin: 0 auto 2.5em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceText {
    font-size: 1.6rem;
    letter-spacing: 1.2px;
    line-height: 1.8;
    color: var(--color-primary);
    padding: 0.5em 2em;
    margin: 0 auto;
    text-align: left;
    margin: 0 0.5em;
}

.serviceText:last-of-type {
    margin: 3em 0;
    text-align: center;
}

.contactLink {
    color: var(--color-highlight);
}

.image {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}


.serviceTitle {
    position: relative;
    font-size: 3em;
    color: var(--color-secondary);
    z-index: 100;
    text-align: center;
    margin-bottom: 0.5em;
}

.serviceSubText {
    color: var(--color-secondary);
    font-size: 1.1em;
    position: relative;
    z-index: 100;
    text-align: center;
    padding: 0 4em;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 90;
    background-color: rgba(15, 15, 15, 0.5);

}

@media (min-width: 640px) {
    .serviceText {
        font-size: 2em;
        margin: 0 4em;
    }

    .pageTitle {
        font-size: 3.5em;
    }
}