/* =============== SOCIAL PROOF =============== */
.testimonials {
  font-style: italic;
  font-size: 1.2em;
  letter-spacing: 1px;
  font-weight: 700;
  color: #5e5e5e;
  margin: 4em 0;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0 2em;
}

.title {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.quote {
  width: 90%;
  margin-top: 2em;
  line-height: 1.5;
  font-size: 1.3em;
}

.info {
  order: 3;
  margin: 1.5em 0 0 3em;
}

/* CAROUSEL */

.carousel {
  width: 400%;
  position: relative;
  top: 10%;
  left: 0;
  height: 100%;
  animation: slider 40s linear infinite;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.carouselImageItem {
  width: 100%;
  height: fit-content;
  background-size: cover;
  background-position: center;
} 

@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}



@media (min-width: 600px) {

  .container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
  }

  .image-container {
    order: 1;
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }

  .quote {
    order: 2;
    width: 62%;
    max-width: 550px;
  }

  .info {
    order: 3;
    font-size: 0.8em;
  }

  .cta-container {
    flex-direction: row;
    justify-content: space-around;
  }
}