/* =============== SOCIAL PROOF =============== */
.testimonials {
  font-style: italic;
  margin: 4em 0 5em;
  padding: 4em 0;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  background: url("/images/happy-customer.webp") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(3, 65, 110, 0.8);
  z-index: 100;
}

.title {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 2em;
  position: relative;
  z-index: 200;
}

.testimonial {
  font-size: 1.4em;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 1em 0 2em;
  position: relative;
  z-index: 200;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.quote {
  line-height: 1.8;
  letter-spacing: 1.5px;
  font-size: 0.8em;
  
}

.info {
  font-size: 0.7em;
  order: 3;
  margin: 0.5em 0 0 3em;
  align-self: center;
}

.info,
.quote {
  padding: 1em;
}

/* CAROUSEL */

.carousel {
  width: 400%;
  position: relative;
  top: 0%;
  left: 0;
  height: 100%;
  animation: slider 30s linear infinite;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1em 0;
}

.carouselItem {
  padding: 2em 0;
  background-size: cover;
  background-position: center;
}

@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  99% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}



@media (min-width: 600px) {
  .testimonials {
    background-position: top center;
  }

  .container {
    flex-direction: row;
  }

  .image-container {
    order: 1;
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }

  .quote {
    order: 2;
    width: 62%;
    max-width: 550px;
  }

  .info {
    order: 3;
    font-size: 0.8em;
  }

  .cta-container {
    flex-direction: row;
    justify-content: space-around;
  }
}